.mainDiv {
    margin: 0 auto;
    width: 40rem;
    height: 50rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    background-color: #f4f5f7;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .head {
    margin-bottom: 0;
    color: #172b4d;
  }
  
  .closeButton {
    margin-right: 1rem;
  }
  
  .para {
    margin-left: 2.7rem;
    color: #5e6c84;
  }
  
  .notificationWatchContainer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .notification {
    margin-right: 1rem;
  }
  
  .notificationText {
    color: #172b4d;
  }
  
  .watchButton {
    display: flex;
    align-items: center;
  }
  
  .watchButton button {
    margin-left: 0.5rem;
    color: #172b4d;
  }
  
  .des {
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    color: #172b4d;
  }
  
  .username {
    border: 1px solid;
    border-radius: 50%;
    background-color: rgb(7, 105, 218);
    color: white;
    padding: 0.3rem;
  }
  
  .firstInputBox {
    margin-left: 2.7rem;
    width: 25rem;
    height: 3.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: #172b4d;
    background-color: #fff;
  }
  
  .secondInputBox {
    margin-left: 0.8rem;
    width: 25rem;
    height: 1.8rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    color: #172b4d;
    background-color: #fff;
  }
  
  .comments {
    margin-left: 1rem;
    color: #172b4d;
  }
  
  .commentsTime {
    margin-left: 2.9rem;
    margin-top: 0;
    font-size: small;
    color: #5e6c84;
  }
  
  .watchButton1 {
    display: flex;
    align-items: center;
    color: #172b4d;
  }
  
  .watchButton1 button {
    margin-left: 0.5rem;
    color: #172b4d;
  }
  .storedDescription{
    color: #172b4d;
  }
  .detailsContent {
    padding-top: 1rem;
    border-top: 1px solid #dfe1e6;
    margin-top: 1rem;
    color: #172b4d;
  }
  
  .activity {
    margin-top: 1rem;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  .buttonContainer button {
    margin-right: 0.5rem;
  }
  